@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  font-family: Verdana, sans-serif; 
  margin:0;

  background-image: url("bg.jpg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}


.mySlides {display: none}
img {vertical-align: middle;}




h1 { color: #000000; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px; font-weight: 800; line-height: 72px; margin: 0 10px 24px; text-align: center; text-transform: uppercase; }
p { color: #443e3e; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 18px; width: 100%; text-align: center; }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    opacity: 0.9;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* Style all font icons */
.fa {
    padding: 20px;
    font-size: 30px;
    height: 70px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 49%;
  }
  
  /* hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* color for each media */
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #96b7f5;
    color: white;
  }

.middle{width: 100%; text-align: center;}

h3{text-align: center;}

#footer{
  margin-top: 40px;
  background: rgb(216, 216, 216);
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
}
